/* Main Styles */
html, body, #wrap {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  text-align: center;
}
.img-wrap {
	width: 60%;
	height: auto;
  margin: 12px auto;
  overflow: hidden;
}
.img-wrap img {
  width: 100%;
  height: auto;
  /* disable user select */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}



.hide {
  visibility:hidden;
  opacity:0;
  /* transition */
  -webkit-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -moz-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -o-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
}
.show {
  visibility:visible;
  opacity:1;
  /* transition */
  -webkit-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -moz-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -o-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
}


.dot-big {
  display: inline-block;
  vertical-align: top;
  background-color: #671B1B;
  width: 90px;
  height: 90px;
  margin: 5px;
  /* border-radius */
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.dot-small {
  display: inline-block;
  vertical-align: top;
  background-color: #671B1B;
  width: 50px;
  height: 50px;
  margin: 25px;
  /* border-radius */
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
